html, body, .orbit-page {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url(/page-bgs/Stars-bg.svg);
}

@font-face {
  font-family: 'Voyager-heavy';
  src: url("/fonts/Voyager Heavy Webfont.woff") format("woff");
}

@font-face {
  font-family: 'Voyager-light';
  src: url("/fonts/Voyager Light Webfont.woff") format("woff");
}

.B {
  border: 2px solid white;
}

a {
  text-decoration: none;
}

.orbit-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.orbit-page .shuttle {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.orbit-page .nav-container {
  z-index: 9999;
  -webkit-box-flex: .2;
      -ms-flex: .2;
          flex: .2;
  position: relative;
  top: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
}

.orbit-page .nav-container .nav-list {
  padding: 1rem;
  line-height: 4rem;
}

.orbit-page .nav-container .nav-item {
  color: #fff;
  list-style-type: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: 'voyager-light';
}

.orbit-page .travel-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 2%;
  padding-left: 0px;
}

.orbit-page .travel-container .travel-list {
  padding: 0;
  line-height: 5.5rem;
}

.orbit-page .travel-container .travel-item {
  text-align: center;
  font-size: 1.6rem;
}

.orbit-page .celestial-body-container {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 18rem;
  height: 16rem;
}

.orbit-page .celestial-body-container .moon {
  margin-bottom: 4rem;
}

.orbit-page .name-container {
  -webkit-box-flex: .75;
      -ms-flex: .75;
          flex: .75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
  color: #fff;
  line-height: 0;
}

.orbit-page .name-container .main-name {
  font-size: 3.2rem;
  font-family: 'voyager-light', sans-serif, serif;
}

.orbit-page .name-container .occupation-header {
  font-size: .6rem;
  letter-spacing: 1px;
  font-family: 'voyager-light', sans-serif, serif;
}

.orbit-page .name-container .github-header {
  margin-top: 2%;
}

.orbit-page .copyright-footer {
  -webkit-box-flex: .05;
      -ms-flex: .05;
          flex: .05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orbit-page .copyright {
  color: #fff;
  font-family: 'voyager-light';
  font-size: .5rem;
}

.section-title {
  margin: 5% 0 0 5%;
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid white;
  font-size: 1.8rem;
  font-family: voyager-light;
  color: #fff;
}

.lander-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 39%;
  height: 39%;
}

.lander {
  position: absolute;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 4rem;
  height: 4rem;
  margin: -2rem -1.5rem 0 0;
}

.celestial-body {
  width: 7rem;
  height: 7rem;
}

.lander-text-container {
  width: auto;
}

.lander-text-container .arrow {
  margin-left: 3rem;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.lander-text-container .lander-text {
  text-align: center;
  font-size: .8rem;
  color: #fff;
  font-family: voyager-light;
  letter-spacing: 0;
  margin: 0;
}

.lander-text-container .lander-text-desktop {
  display: none;
}

.projects-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin-top: 30%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.projects-container .projects-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  height: 90%;
  width: 95%;
  background-color: #fff;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.projects-container .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  z-index: 1;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  width: 98%;
  height: 97%;
}

.projects-container .project-1 {
  background-image: url(/assets/heart.png);
  background-position: -2.5rem -3.5rem;
}

.projects-container .project-cover {
  width: 100%;
  height: 100%;
  opacity: .8;
  background-image: url(/assets/pixels.svg);
  font-family: voyager-light;
}

.projects-container .cover-1:before {
  content: 'The Aimee Oki Foundation';
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.project-item:hover {
  background-color: black;
}

.shuttle-travel {
  rotate: 90deg;
  margin-left: 14rem;
}

.shuttle-trail::before {
  content: '';
  z-index: 1;
  margin-top: 19.25rem;
  position: relative;
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00d0ff), to(transparent));
  background: linear-gradient(#00d0ff, transparent);
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --s: 10.5vh;
  /* size  */
  --m: 4px;
  /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  margin-left: 5%;
  justify-self: flex-end;
  margin-top: 30%;
}

.container {
  font-size: 0;
  /*disable white space between inline block element */
}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #5fb7cf;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
  opacity: .7;
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.position {
  position: relative;
}

.station {
  position: absolute;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 4rem;
  height: 4rem;
  margin: -3.5rem -3rem 0 0;
}

.dev-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (48%)[2];
      grid-template-columns: repeat(2, 48%);
  -ms-grid-rows: (25%)[20];
      grid-template-rows: repeat(20, 25%);
  margin-top: 32%;
  margin-left: 5%;
  justify-items: center;
  height: 25%;
}

.dev-info-container .dev-info-border {
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  background-color: #fff;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.dev-info-container .dev-info-border .dev-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5fb7cf;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  padding: 8px 15px 8px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dev-info-container .dev-info-border .dev-info .dev-text {
  font-size: 2.2rem;
  color: black;
  font-family: voyager-light;
  margin: 0;
  letter-spacing: 3px;
}

.dev-info-container .dev-info-border .dev-info .dev-text:nth-child(1) {
  font-size: 1.6rem;
  color: black;
  font-family: voyager-light;
  margin: 0;
  letter-spacing: 1px;
}

.span-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 8px 20px 8px 20px;
}

.span-3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 8px 20px 8px 20px;
}

.dev-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5fb7cf;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  padding: 8px 25px 8px 25px;
  width: 88%;
  height: 95%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.dev-nav {
  -ms-grid-row: 10;
  -ms-grid-row-span: 4;
  grid-row: 10 / 14;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-title {
  margin-left: 10%;
  margin-top: 5%;
  padding: 5px;
  font-size: 2.0rem;
  color: white;
  font-family: voyager-light;
  border: 3px solid white;
  letter-spacing: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.social-links-container {
  padding-left: 1%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  width: 70%;
  height: 65%;
  gap: 0rem;
}

.contact-container {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 9rem;
  height: 9rem;
  background-color: #5fb7cf;
  opacity: .8;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.social-item {
  background-color: black;
}

.linkedin {
  background-color: #0077b5;
}

.indeed {
  margin-top: .5rem;
  height: 8rem;
  width: 8rem;
  background-position: 100px 0;
}

.resume {
  width: 8.5rem;
  margin-left: .25rem;
}

.social-link:nth-child(1n) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.social-link:nth-child(2n) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.social-link:nth-child(3n) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: #fff;
}

.social-link:nth-child(4n) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: #3399CC;
}

.social-link:nth-child(5n) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.social-link:nth-child(5n) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  height: 90%;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (4rem)[12];
      grid-template-rows: repeat(12, 4rem);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

.form-container::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #5fb7cf;
}

label {
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

label .contact-name {
  width: 60%;
  height: 2rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

label .contact-email {
  width: 70%;
  height: 2rem;
}

label .contact-subject {
  width: 60%;
  height: 2rem;
}

.label-name {
  -ms-grid-column-align: center;
      justify-self: center;
}

.label-email {
  margin-left: 2rem;
}

.label-subject {
  margin-left: 3.5rem;
}

textarea {
  width: 90%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4/10;
  height: 100%;
}

.contact-btn {
  height: 5rem;
  width: 5rem;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 4rem;
  border-radius: 100%;
  background: red;
  border: 1px solid white;
  color: black;
  font-family: voyager-light;
}

.contact-btn:hover {
  -webkit-box-shadow: 0 0 5px 2px white;
          box-shadow: 0 0 5px 2px white;
  color: white;
  background: #009E60;
}

.contact-text {
  color: white;
  font-size: 1.6rem;
  font-family: voyager-light;
}

.form-bg {
  background-color: #5fb7cf;
  opacity: .8;
}

@-webkit-keyframes rumble {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 0px) rotate(-3deg);
  }
}

@keyframes rumble {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 0px) rotate(-3deg);
  }
}

@-webkit-keyframes rumble-travel {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(3px, -2px);
  }
  50% {
    -webkit-transform: translate(3px, 3px);
  }
}

@keyframes rumble-travel {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(3px, -2px);
  }
  50% {
    -webkit-transform: translate(3px, 3px);
  }
}

.shuttle-travel {
  -webkit-animation: rumble-travel 5s infinite ease-in-out;
          animation: rumble-travel 5s infinite ease-in-out;
}

#rumble-hover:hover #shuttle {
  -webkit-animation: rumble .0625s infinite linear;
          animation: rumble .0625s infinite linear;
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  to {
    -webkit-transform: translatey(-1000%);
            transform: translatey(-1000%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  to {
    -webkit-transform: translatey(-1000%);
            transform: translatey(-1000%);
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  to {
    -webkit-transform: translatey(-2000%);
            transform: translatey(-2000%);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
  to {
    -webkit-transform: translatey(-2000%);
            transform: translatey(-2000%);
  }
}

@-webkit-keyframes slide-up-right {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1000%, -1000%);
            transform: translate(1000%, -1000%);
  }
}

@keyframes slide-up-right {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(1000%, -1000%);
            transform: translate(1000%, -1000%);
  }
}

.shoot-off-back {
  -webkit-animation: slide-up-right .15s;
          animation: slide-up-right .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shoot-off {
  -webkit-animation: slide-up .15s;
          animation: slide-up .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shoot-off-right {
  -webkit-animation: slide-right .15s;
          animation: slide-right .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shoot-off::before {
  content: '';
  z-index: 1;
  margin-top: 19.25rem;
  position: relative;
  left: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00d0ff), to(transparent));
  background: linear-gradient(#00d0ff, transparent);
}

.transition-fade {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateyx(0);
          transform: translateyx(0);
}

html.is-leaving .transition-fade {
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
}

html.is-rendering .transition-fade {
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

@media only screen and (min-width: 1500px) {
  @-webkit-keyframes rumble {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: translate(2px, 0px) rotate(-3deg);
    }
  }
  @keyframes rumble {
    0% {
      -webkit-transform: rotate(0deg);
    }
    25% {
      -webkit-transform: translate(2px, 0px) rotate(-3deg);
    }
  }
  #rumble-hover:hover #shuttle {
    -webkit-animation: rumble .0625s infinite linear;
            animation: rumble .0625s infinite linear;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes float-light {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translatey(8px);
            transform: translatey(8px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float-light {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translatey(8px);
            transform: translatey(8px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.celestial-body-container {
  -webkit-animation: float 9s infinite linear;
          animation: float 9s infinite linear;
}

.shuttle-idle {
  -webkit-animation: float 7s infinite linear;
          animation: float 7s infinite linear;
}
/*# sourceMappingURL=main.css.map */