html, body, .orbit-page {
    width: 100%;
    height: 100%;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-image: url(/page-bgs/Stars-bg.svg
    );
}
@font-face {
    font-family: 'Voyager-heavy';
    src: url('/fonts/Voyager\ Heavy\ Webfont.woff') format('woff');
}
@font-face {
    font-family: 'Voyager-light';
    src: url('/fonts/Voyager\ Light\ Webfont.woff') format('woff');
}

.B {
    border: 2px solid white;
}
a {
    text-decoration: none;
}
//code above is general code that is used in multiple areas of the site.//

//the section below is the css for the entire MOBILE landing page//
.orbit-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    .shuttle {
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        align-self: center;
    }
    .nav-container {
        z-index: 9999;
        flex: .2;
        position: relative;
        top: 5%;
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        
        .nav-list {
            padding: 1rem;
            line-height: 4rem;
        }
        
        .nav-item {
            color: #fff;
            list-style-type: none;
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-family: 'voyager-light';
        }
    }
        
    .travel-container { //adds onto the styles from the original nav element for subsequent pages//
        align-self: center;
        top: 2%;
        padding-left: 0px;
        
        
        .travel-list  {
            padding: 0;
            line-height: 5.5rem;
        }
        
        .travel-item {
            text-align: center;
            font-size: 1.6rem;
        }
    }
        
        
    .celestial-body-container {
        margin-top: 3%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            align-self: flex-end;
            width: 18rem;
            height: 16rem;

        .moon {
            margin-bottom: 4rem;
        }
    }

    .name-container {
        flex: .75;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        width: auto;
        align-self: center;
        color: #fff;
        line-height: 0;
        .main-name {
            font-size: 3.2rem;
            font-family: 'voyager-light', sans-serif, serif;
        }
        .occupation-header {
            font-size: .6rem;
            letter-spacing: 1px;
            font-family: 'voyager-light', sans-serif, serif;
        }
        .github-header {
            margin-top: 2%;
        }
    }

    .copyright-footer {
        flex: .05;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .copyright {
        color: #fff;
        font-family: 'voyager-light';
        font-size: .5rem;
    }
}

//the section below is for the entire PROJECTS-MOBILE page
.section-title {
    margin: 5% 0 0 5%;
    padding: 8px;
    width: fit-content;
    border: 2px solid white;
    font-size: 1.8rem;
    font-family: voyager-light;
    color: #fff;
}

.lander-body {
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 39%;
}
        .lander {
            position: absolute;
            align-self: end;
            width: 4rem;
            height: 4rem;
            margin: -2rem -1.5rem 0 0 ;
        }
        .celestial-body {
            width: 7rem;
            height: 7rem;
        }
        
.lander-text-container {
    width: auto;

    .arrow {
        margin-left: 3rem;
        transform: rotate(-15deg);
    }
    .lander-text {
        text-align: center;
        font-size: .8rem;
        color: #fff;
        font-family: voyager-light;
        letter-spacing: 0;
        margin: 0;
         }
        .lander-text-desktop {
            display: none;
        }
    }



.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30%;
    justify-items: center;
    align-items: center;
    height: 50%;

    .projects-border {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        height: 90%;
        width: 95%;
        background-color: #fff;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    }
    .project-item {
        display: flex;
        justify-content: center;
        opacity: 1;
        z-index: 1;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        width: 98%;
        height: 97%;
        
    }
    .project-1 {
        background-image: url(/assets/heart.png);
        background-position: -2.5rem -3.5rem;
    }
    .project-cover {
        width: 100%;
        height: 100%;
        opacity: .8;
        background-image: url(/assets/pixels.svg);
        font-family: voyager-light;
    }
    .cover-1:before {
        content: 'The Aimee Oki Foundation';
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1.1rem;
        letter-spacing: 0;
    } 
    
    
}
.project-item:hover {
    background-color: black;
}
.shuttle-travel {
    rotate: 90deg;
    margin-left: 14rem;
}
.shuttle-trail::before {
    content: '';
    z-index: 1;
    margin-top: 19.25rem;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    width: 10px;
    height: 150px;
    background: linear-gradient(#00d0ff, transparent);
}

li {
    display: flex;
}

//this section is for the skills and technologies section//

.main {
    display:flex;
    --s: 10.5vh;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    margin-left: 5%;
    justify-self: flex-end;
    margin-top: 30%;
  }
  
  .container {
    font-size: 0; /*disable white space between inline block element */
  }
  
  .container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: #5fb7cf ;
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
    opacity: .7;
  }
.container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
}
// this section is for the developer debriefing section
.position {
    position: relative;
}

.station {
    position: absolute;
            align-self: end;
            width: 4rem;
            height: 4rem;
            margin: -3.5rem -3rem 0 0 ;
}
.dev-info-container {
    display: grid;
    
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(20, 25%);
    margin-top: 32%;
    margin-left: 5%;
    justify-items: center;
    height: 25%;
    .dev-info-border {
        z-index: 2;
        height: fit-content;
        width: fit-content;
        padding: 2px;
        background-color: #fff;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        
        
        .dev-info {
        display: flex;
        justify-content: center;
        background-color: #5fb7cf;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        padding: 8px 15px 8px 15px;
        width: fit-content;
        height: fit-content;

            .dev-text {
                font-size: 2.2rem;
                color: black;
                font-family: voyager-light;
                margin: 0;
                letter-spacing: 3px;
            }
            .dev-text:nth-child(1) {
                font-size: 1.6rem;
                color: black;
                font-family: voyager-light;
                margin: 0;
                letter-spacing: 1px;
            }
            
        }
       
        
    }
}

.span-2 {
    grid-row: 2 / 3;                          
    grid-column: 1 / 3;  
    padding: 8px 20px 8px 20px; 
}
.span-3 {
    grid-row: 3 / 4;                          
    grid-column: 1 / 3;  
    padding: 8px 20px 8px 20px; 
}
.dev-desc {
    display: flex;
    justify-content: center;
    background-color: #5fb7cf;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    padding: 8px 25px 8px 25px;
    width: 88%;
    height: 95%;
    grid-row: 4 / 10;                          
    grid-column: 1 / 3;  
}

.dev-nav {
    grid-row: 10 / 14;                          
    grid-column: 1 / 3;  
}

//section below is for the contact page
.contact-title {
    margin-left: 10%;
    margin-top: 5%;
    padding: 5px;
    font-size: 2.0rem;
    color: white;
    font-family: voyager-light;
    border: 3px solid white;
    letter-spacing: 3px;
    width: fit-content;
}

.social-links-container {
    padding-left: 1%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 70%;
    height: 65%;
    gap: 0rem;
}
.contact-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social-link {
    display: flex;
    align-content: center;
    width: 9rem;
    height: 9rem;
    background-color: #5fb7cf;
    opacity: .8;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        
}
.social-item {
    background-color: black;
}
.linkedin {
    background-color: #0077b5;
}
.indeed {
    margin-top: .5rem;
    height: 8rem;
    width: 8rem;
    background-position: 100px 0;
}
.resume {
    width: 8.5rem;
    margin-left: .25rem;
}
.social-link:nth-child(1n) {
    grid-row: 2 / 3;                          
    grid-column: 3 / 4; 
}
.social-link:nth-child(2n) {
    grid-row: 1 / 2;                          
    grid-column: 2 / 3; 
}
.social-link:nth-child(3n) {
    grid-row: 2 / 3;                          
    grid-column: 2 / 3; 
    background-color: #fff;
}
.social-link:nth-child(4n) {
    grid-row: 2 / 3;                          
    grid-column: 1 / 2; 
    background-color: #3399CC;
}
.social-link:nth-child(5n) {
    grid-row: 2 / 3;                          
    grid-column: 3 / 4; 
}
.social-link:nth-child(5n) {
    grid-row: 3 / 4;                          
    grid-column: 2 / 3; 
}
.email-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.form-container {
    height: 90%;
    width: 95%;
    display: grid;
    grid-template-rows: repeat(12, 4rem);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}
.form-container::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #5fb7cf;
}
label {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 1rem;
    .contact-name {
        width: 60%;
        height: 2rem;
        grid-row: 2/3
    }
    .contact-email {
        width: 70%;
        height: 2rem;
    }
    .contact-subject {
        width: 60%;
        height: 2rem;
    }
}
.label-name {
    justify-self: center;
}
.label-email {
    margin-left: 2rem;
}
.label-subject {
    margin-left: 3.5rem;
}
textarea {
    width: 90%;
    justify-self: center;
    grid-row: 4/10;
    height: 100%;
}
.contact-btn {
    height: 5rem;
    width: 5rem;
    grid-row: 10/11;
    align-self: center;
    justify-self: center;
    margin-top: 4rem;
    border-radius: 100%;
    background: red;
    border: 1px solid white;
    color: black;
    font-family: voyager-light;
}

.contact-btn:hover {
    box-shadow: 0 0 5px 2px white;
    color: white;
    background: #009E60;
}

.contact-text {
    color: white;
    font-size: 1.6rem;
    font-family: voyager-light;
}
.form-bg {
    background-color: #5fb7cf;
    opacity: .8;
}

//the section below is for the rocketship animation

@keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
}
@keyframes rumble-travel {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(3px, -2px);}
    50% {-webkit-transform: translate(3px, 3px);}
}

.shuttle-travel {
    animation: rumble-travel 5s infinite ease-in-out
}

#rumble-hover:hover #shuttle{
    animation: rumble .0625s infinite linear;
}

@keyframes slide-up {
    from {
      transform: translatey(0%);
    }
    to {
      transform: translatey(-1000%);
    }
}
@keyframes slide-right {
    from {
      transform: translatey(0%);
    }
    to {
      transform: translatey(-2000%);
    }
}
@keyframes slide-up-right{
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(1000%, -1000%);
    }
}
.shoot-off-back {
    animation: slide-up-right .15s;
    animation-fill-mode: forwards;
}
.shoot-off {
    animation: slide-up .15s ;
    animation-fill-mode: forwards;
}
.shoot-off-right {
    animation: slide-right .15s;
    animation-fill-mode: forwards;
}
.shoot-off::before {
    content: '';
    z-index: 1;
    margin-top: 19.25rem;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    width: 10px;
    height: 150px;
    background: linear-gradient(#00d0ff, transparent);
}


//the section below is here for page transitions, may need to be changed in the future.// 

.transition-fade {
    transition: 1s;
    transform: translateyx(0);
}
  
html.is-leaving .transition-fade {
    transform: translatex(-100%);
    
}

html.is-rendering .transition-fade {
    transform: translatex(100%);
}


@media only screen and (min-width: 1500px) {
    @keyframes rumble {
        0% {-webkit-transform: rotate(0deg);}
        25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
    }
    
    #rumble-hover:hover #shuttle{
        animation: rumble .0625s infinite linear;
    }
}

//the code below is for the floating animations for the mobile-version
@keyframes float {
	0% {
		transform: translatey(0px);
		transform: translateX(0px);
	}
	50% {
		transform: translatey(5px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float-light {
	0% {
		transform: translatey(0px);
		transform: translateX(0px);
	}
	50% {
		transform: translatey(8px);
	}
	100% {
		transform: translatey(0px);
	}
}

.celestial-body-container {
    animation: float 9s infinite linear;
}
.shuttle-idle {
    animation: float 7s infinite linear;
}









  