html, body, .orbit-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
h1 {
    margin: 0;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-image: url(/page-bgs/Stars-bg.svg
    );
}
@font-face {
    font-family: 'Voyager-heavy';
    src: url('/fonts/Voyager\ Heavy\ Webfont.woff') format('woff');
}
@font-face {
    font-family: 'Voyager-light';
    src: url('/fonts/Voyager\ Light\ Webfont.woff') format('woff');
}
@font-face {
    font-family: 'Prototype';
    src: url('/fonts/Prototype.woff') format('woff');
}

a {
    text-decoration: none;
}
//code above is general code that is used in multiple areas of the site.//

//the section below is the css for the entire MOBILE landing page//
.orbit-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    .shuttle {
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        align-self: center;
    }
    .nav-container {
        z-index: 9999;
        flex: .2;
        position: relative;
        top: 5%;
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        
        .nav-list {
            padding: 1rem;
            line-height: 4rem;
        }
        
        .nav-item {
            width: auto;
            color: #fff;
            list-style-type: none;
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-family: 'voyager-light';
        }
    }
        
    .travel-container { //adds onto the styles from the original nav element for subsequent pages//
        align-self: center;
        top: 2%;
        padding-left: 0px;
        flex-basis: 25%;
        
        
        .travel-list  {
            padding: 0;
            line-height: 4.5rem;
        }
        
        .travel-item {
            text-align: center;
            font-size: 1.6rem;
        }
    }
        
        
    .celestial-body-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            align-self: flex-end;
            width: 18rem;
            height: 20%;

        .moon {
            margin-bottom: 4rem;
        }
    }
     li {
        width: fit-content;
     }
    .name-container {
        flex-basis: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: voyager-heavy;
        margin-bottom: 15%;
    }
    .header-container{
        padding-bottom: .75rem;
    }

    .main-header-text {
        
        text-align: center;
        letter-spacing: 3px;
        font-size: 3rem;
        color: #fff;
    }
    .occupation-container {
        padding-bottom: 1rem;
    }
    .occupation-header-text {
        font-size: 1.5rem;
        color: #fff;
    }
   
      
    .typed {
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid;
        width: 0;
        animation: typing 1.5s steps(30, end) forwards, blinking .75s infinite;
    }
    

    .copyright-footer {
        flex: .05;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .copyright {
        color: #fff;
        font-family: 'voyager-light';
        font-size: .5rem;
    }
}

//the section below is for the entire PROJECTS-MOBILE page

.section-title {
    flex-basis: 25%;
}

.section-title-container {
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin: 5% 0 0 5%;
}

.section-title-text {
    font-size: 1.8rem;
    font-family: voyager-light;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.lander-body {
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 39%;
}
        .lander {
            position: absolute;
            align-self: end;
            width: 4rem;
            height: 4rem;
            margin: -2rem -1.5rem 0 0 ;
        }
        .celestial-body {
            width: 7rem;
            height: 7rem;
        }
        
.lander-text-container {
    width: auto;

    .arrow {
        margin-left: 3rem;
        transform: rotate(-15deg);
    }
    .lander-text {
        text-align: center;
        font-size: .8rem;
        color: #fff;
        font-family: voyager-light;
        letter-spacing: 0;
        margin: 0;
         }
        .lander-text-desktop {
            display: none;
        }
    }



.projects-container {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 50%;

    .projects-border {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        height: 90%;
        width: 90%;
        background-color: #fff;
        -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        grid-column: 1/3;
    }
    .project-item {
        display: flex;
        justify-content: center;
        opacity: 1;
        z-index: 1;
        -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        width: 98%;
        height: 97%;
        background-image: url(/assets/pixels.svg);
        .project-heading {
            font-size: 2rem;
            position: absolute;
            align-self: center;
            font-family: voyager-heavy;
            font-weight: bold;
            color: white;
        }
        .project-title-desc {
            font-size: 1.2rem;
            letter-spacing: 1px;
            position: absolute;
            align-self: center;
            font-family: prototype;
            color: white;
            margin-top: 6rem;
        }
    }
    
    .projects-image {
        opacity: .2;
        width: 25rem;
        height: 15rem;
    }
    
    
}
.overlay {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 14rem;
    background: #6f0000;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all .3s ease-in-out;

    .overlay-layout {
        display: flex;
        width: 90%;
        height: 95%;
    }

    .overlay-text {
        align-self: center;
        margin: 0;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-family: prototype;
        margin-bottom: .5rem;
        flex-basis: 80%;
        margin-left: .5rem;
        
    }
    .code-links {
        flex-basis: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: .5rem;
        gap: .5rem;

        .code-icon {
            width: 5rem;
            height: 5rem;
        }
    }
}



.project-item:hover {
    background-color: black;
}
.shuttle-travel {
    rotate: 90deg;
    margin-left: 14rem;
}
.shuttle-trail::before {
    content: '';
    z-index: 1;
    margin-top: 19.25rem;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    width: 10px;
    height: 150px;
    background: linear-gradient(#00d0ff, transparent);
}

li {
    display: flex;
}

//this section is for the skills and technologies section//



.asteroids-container {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 40px);
}
.asteroid-svg {
    width: 100%;
    height: 100%;
}
.skill {
    position: absolute;
    width: 4rem;
    height: 4rem;
}
.asteroid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.asteroid {
    grid-column: 1/4;
    grid-row: 1/3;
}

.asteroid:nth-child(2n) {
    grid-column: 5/7;
    grid-row: 2/4;
    rotate: 30deg;

    .skill2 {
        width: 4rem;
        margin-right: 1rem;
    }
}
.asteroid:nth-child(3n) {
    grid-column: 7/10;
    grid-row: 3/4;
    rotate: 5deg;

    .skill3 {
        margin-top: .5rem;
        width: 2.25rem;
        rotate: 20deg;
    }
    
}
.asteroid:nth-child(4n) {
    grid-column: 5/8;
    grid-row: 4/6;
    rotate: -8deg;

    .skill4 {
        width: 4rem;
    }
}
.asteroid:nth-child(5n) { //this is the alien
    grid-column: 2/4;
    grid-row: 3/5;
    rotate: 30deg;

    
}
.asteroid:nth-child(6n) {
    grid-column: 3/5;
    grid-row: 5/7;
    rotate: 40deg;

    .skill5 {
        width: 5rem;
        background-color: #fff;
    }
}
.asteroid:nth-child(7n) {
    grid-column: 6/8;
    grid-row: 7/9;
    rotate: 30deg;

}
.asteroid:nth-child(8n) {
    grid-column: 7/10;
    grid-row: 9/11;
    rotate: 21deg;

    .skill7 {
        margin-top: 1rem;
    }
}
.asteroid:nth-child(9n) {
    grid-column: 8/11;
    grid-row: 5/7;
    rotate: 34deg;
    .skill8 {
        margin-right: 1rem;
    }
}
.asteroid:nth-child(10n) {
    grid-column: 10/13;
    grid-row: 7/9;
    rotate: 34deg;
}
.asteroid:nth-child(11n) {
    grid-column: 11/13;
    grid-row: 4/6;
    rotate: 34deg;

    .skill10 {
        width: 6rem;
        height: 6rem;
        rotate: 15deg;
    }
}
.asteroid:nth-child(12n) {
    grid-column: 11/13;
    grid-row: 10/12;
    rotate: 90deg;

    .skill11 {
        rotate: -60deg;
    }
}
.asteroid:nth-child(13n) {
    grid-column: 0/3;
    grid-row: 7/9;
}

// this section is for the developer debriefing section
.position {
    position: relative;
}

.station {
    position: absolute;
    align-self: end;
    width: 4rem;
    height: 4rem;
    margin: -3.5rem -3rem 0 0 ;
}
.dev-info-container {
    display: grid;
    
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(20, 25%);
    margin-left: 5%;
    justify-items: center;
    height: 25%;

    .name-resume {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        grid-column: 1/3;
        gap: 1.5rem;
    }
    .dev-resume {
        
        display: flex;
        justify-content: center;
        .resume{
            width: 4rem;
            height: 4rem;
            margin: 0;
            color: #ffe1ab;
        }
    }
    .dev-info-border {
        z-index: 2;
        height: fit-content;
        width: fit-content;
        padding: 2px;
        background-color: #655f45;
        -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        
        
        .dev-info {
        display: flex;
        justify-content: center;
        background-color: #ffe1ab;
        -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        clip-path: polygon(8% 0%, 92% 0%, 100% 12%, 100% 84%, 92% 100%, 8% 100%, 0% 84%, 0% 12%);
        padding: 8px 15px 8px 15px;
        width: fit-content;
        height: fit-content;

            
            
        }
       
        
    }
}
.dev-text {
    font-size: 2.2rem;
    color: black;
    font-family: voyager-light;
    margin: 0;
    letter-spacing: 3px;
}
.dev-text:nth-child(1) {
    font-size: 1.6rem;
    color: black;
    font-family: voyager-light;
    margin: 0;
    letter-spacing: 1px;
}

.span-2 {
    grid-row: 2 / 3;                          
    grid-column: 1 / 3;  
    padding: 8px 20px 8px 20px; 
}
.span-3 {
    grid-row: 3 / 4;                          
    grid-column: 1 / 3;  
    padding: 8px 20px 8px 20px; 
}

.dev-desc-border {
    grid-column: 1/3;
    grid-row: 4/10;
    width: 100%;
    height: 100%;
     padding: 2px;
    background-color: #655f45;
    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}

.dev-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#ffe1ab;
    -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    width: 100%;
    height: 100%;
    grid-row: 4/10;
}

.dev-text-container {
    width: 100%;
    padding: 0 .25rem 0 .5rem;
    height: 97%;
    display: flex;
    flex-direction: column;
}

.gag-joke {
    font-size: 1.6rem;
    font-family: voyager-heavy;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    color:  #D0342C;

}

.dev-desc-text {
    font-size: 1.8rem;
    font-family: Prototype;
    line-height: 2rem;
    letter-spacing: 1px;
    color: black;
    margin: 0;
    text-indent: 1.5rem;
}

.dev-nav {
    grid-row: 10 / 14;                          
    grid-column: 1 / 3;  
}

//section below is for the contact page
.contact-title {
    margin-left: 10%;
    margin-top: 5%;
    padding: 5px;
    font-size: 2.0rem;
    color: white;
    font-family: voyager-light;
    border: 3px solid white;
    letter-spacing: 3px;
    width: fit-content;
}

.social-links-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 65%;
    gap: 1rem;
}
.contact-container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.social-link {
    display: flex;
    align-content: center;
    width: 9rem;
    height: 9rem;
    background-color: #5fb7cf;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        
}
.social-item {
    background-color: black;
}
.linkedin {
    background-color: #0077b5;
}
.indeed {
    margin-top: .5rem;
    height: 8rem;
    width: 8rem;
    background-position: 100px 0;
}
.resume {
    width: 8.5rem;
    margin-left: .25rem;
}
.social-link:nth-child(1n) {
    grid-row: 2 / 3;                          
    grid-column: 3 / 4; 
}
.social-link:nth-child(2n) {
    grid-row: 1 / 2;                          
    grid-column: 2 / 3; 
}
.social-link:nth-child(3n) {
    grid-row: 2 / 3;                          
    grid-column: 2 / 3; 
    background-color: #fff;
}
.social-link:nth-child(4n) {
    grid-row: 2 / 3;                          
    grid-column: 1 / 2; 
    background-color: #3399CC;
}
.social-link:nth-child(5n) {
    grid-row: 2 / 3;                          
    grid-column: 3 / 4; 
}
.social-link:nth-child(5n) {
    grid-row: 3 / 4;                          
    grid-column: 2 / 3; 
}
.email-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.form-container {
    justify-self: center;
    height: 95%;
    width: 95%;
    display: grid;
    background-color:  	#181818;
    grid-template-rows: repeat(12, 4rem);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

label {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    gap: 1rem;
    .contact-name {
        width: 60%;
        height: 2rem;
        grid-row: 2/3
    }
    .contact-email {
        width: 50%;
        height: 2rem;
    }
    .contact-subject {
        width: 53%;
        height: 2rem;
    }
}
.imperial-crest {
    position: absolute;
    float: right;
    justify-self: flex-end;
    margin-right: 3rem;
    margin-top: 3rem;
    width: 7rem;
    height: 7rem;
    color: #ed2939 ;
}
.label-name {
    justify-self: center;
}
.label-email {
    margin-left: 2rem;
}
.label-subject {
    margin-left: 3.5rem;
}
textarea {
    width: 90%;
    justify-self: center;
    grid-row: 4/10;
    height: 100%;
}
.contact-btn {
    height: 5rem;
    width: 5rem;
    grid-row: 10/11;
    align-self: center;
    justify-self: center;
    margin-top: 6rem;
    border-radius: 100%;
    background: red;
    border: 1px solid white;
    color: black;
    font-family: voyager-light;
}

.contact-btn:hover {
    box-shadow: 0 0 2px 2px white;
    color: white;
    background: #009E60;
}

.contact-text {
    color: white;
    font-size: 1.6rem;
    font-family: voyager-light;
}
.form-bg {
    background-color: #5fb7cf;
    opacity: .8;
}

//the section below is for the rocketship animation

@keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
}
@keyframes rumble-travel {
    0% {-webkit-transform: rotate(0deg);}
    25% {-webkit-transform: translate(3px, -2px);}
    50% {-webkit-transform: translate(3px, 3px);}
}

.shuttle-travel {
    animation: rumble-travel 5s infinite ease-in-out
}

#rumble-hover:hover #shuttle{
    animation: rumble .0625s infinite linear;
}

@keyframes slide-up {
    from {
      transform: translatey(0%);
    }
    to {
      transform: translatey(-1000%);
    }
}
@keyframes slide-right {
    from {
      transform: translatey(0%);
    }
    to {
      transform: translatey(-2000%);
    }
}
@keyframes slide-up-right{
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(1000%, -1000%);
    }
}
.shoot-off-back {
    animation: slide-up-right .15s;
    animation-fill-mode: forwards;
}
.shoot-off {
    animation: slide-up .15s ;
    animation-fill-mode: forwards;
}
.shoot-off-right {
    animation: slide-right .15s;
    animation-fill-mode: forwards;
}
.shoot-off::before {
    content: '';
    z-index: 1;
    margin-top: 19.25rem;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    width: 10px;
    height: 150px;
    background: linear-gradient(#00d0ff, transparent);
}

//the code below is for the floating animations for the mobile-version
@keyframes float {
    0% {
        transform: translatey(0px);
        transform: translateX(0px);
    }
    50% {
        transform: translatey(5px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes float-light {
    0% {
        transform: translatey(0px);
        transform: translateX(0px);
    }
    50% {
        transform: translatey(8px);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes float-asteroid {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: translate(15px,25px) rotate(20deg);}
}

.celestial-body-container {
    animation: float 9s infinite linear;
}
.shuttle-idle {
    animation: float 7s infinite linear;
}
.asteroid {
    animation: float-asteroid 30s infinite ease-in-out;
}

    
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blinking {
      0% {border-color: white}
    50% {border-color: transparent}
}

@media only screen and (max-width: 400px) {
    .section-title-text {
        font-size: 1.4rem;
    }
    .overlay {
        .overlay-layout {
            height: 65%;
            .overlay-text {
                font-size: 1rem;
            }
            .code-icon {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    .dev-desc-text {
        font-size: 1.2rem;
    }
    .gag-joke {
        font-size: 1.2rem;
        margin-top: .5rem;
    }
}


//media queries for ipads and larger screens
@media only screen and (min-width: 700px) {
    //general queries for general page layout
    .section-title-container {
        margin: 8% 0 0 8%;
    }
    .section-title-text {
        font-size: 2.4rem;
    }

    .celestial-body-container {
        margin-right: 5%;
        width: 22rem;

        .lander-body {
            width: 45%;
            height: 45%;
        }
        .celestial-body {
            width: 8rem;
            height: 8rem;
        }
        .lander {
            margin: -2rem -1rem 0 0;
        }
        .lander-text {
            font-size: 1rem;
        }
    }

    //projects media query for ipads
    .projects-container {
        width: 80%;
        align-self: center;
        .overlay {
            height: 16rem;
            .overlay-layout {
                padding-left: 5%;
                width: 80%;
        
                .code-links {
                    align-items: flex-start;
                }
                .overlay-text {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
        }
    }
    //section below is for the skills section for the ipad and other large screens
    .asteroids-container {
        height: 60%;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .asteroid:nth-child(1n) {
            .skill {
                width: 4rem;
                height: 4rem;
            }
        }
        .asteroid:nth-child(2n) {
            .skill {
                width: 5rem;
                height: 5rem;
            }
        }
        .asteroid:nth-child(3n) {
            .skill {
                width: 6rem;
                height: 6rem;
            }
        }
        .asteroid:nth-child(4n) {
            grid-column: 6/8;
            grid-row: 4/7;
            .skill {
                width: 4rem;
                height: 4rem;
            }
        }
        .asteroid:nth-child(6n) {
            grid-column: 3/6;
            grid-row: 4/7;
            .skill {
                width: 7rem;
                height: 7rem;
                rotate: 30deg;
            }
        }
        .asteroid:nth-child(7n) {
            .skill {
                width: 7rem;
                height: 7rem;
                rotate: 30deg;
            }
        }
        .asteroid:nth-child(8n) {
            grid-column: 10/13;
            grid-row: 9/12;
            .skill {
                width: 6rem;
                height: 6rem;
                rotate: 20deg;
            }
        }
        .asteroid:nth-child(9n) {
            grid-column: 10/13;
            grid-row: 5/8;
        }
        .asteroid:nth-child(10n) {
            grid-column: 13/16;
            grid-row: 6/9;
            .skill {
                width: 6rem;
                height: 6rem;
            }
        }
        .asteroid:nth-child(11n) {
            grid-column: 15/17;
            .skill {
                width: 5rem;
                height: 5rem;
            }
        }
        .asteroid:nth-child(12n) {
            grid-column: 15/17;
            .skill {
                width: 6rem;
                height: 6rem;
            }
        }
        .asteroid:nth-child(13n) {
            .skill {
                width: 6rem;
                height: 6rem;
            }
        }
    }
    //section below is for the developer debriefing section for ipads and other large screens
    .dev-text:nth-child(1n) {
        font-size: 2rem;
    }
    .dev-desc-border {
        width: 85%;
    }
    .dev-text-container {
        padding: 0 1rem 0 1.5rem;
    }
    .dev-desc-text {
        font-size: 2.2rem;
        letter-spacing: 1px;
        line-height: 3rem;
    }
    .gag-joke {
        font-size: 2rem;
        margin-top: 1rem;
    }
    //the section below is for the contact page for ipad and larger screens
    .social-link {
        width: 10.5rem;
        height: 10.5rem;
        .indeed {
            width: 9.5rem;
            height: 9.5rem;
        }
        .resume {
            width: 9.5rem;
            margin-left: .75rem;
        }
    }
    .form-container {
        width: 75%;
        padding: 2rem 1rem 0 1rem;
        grid-template-rows: repeat(11, 4rem);
        textarea {   
        grid-row: 4/11;
        }
        .contact-btn {
            grid-row: 11/12;
        }
    }
}


@media only screen and (min-width: 1500px) {
    @keyframes rumble {
        0% {-webkit-transform: rotate(0deg);}
        25% {-webkit-transform: translate(2px, 0px) rotate(-3deg);}
    }
    
    #rumble-hover:hover #shuttle{
        animation: rumble .0625s infinite linear;
    }
}






  